{% load static %}
<section class="">
    <div class="">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
                <div class="row">
                    <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                            <div class="card bg-warning">
                                <div class="card-body px-3 py-4">
                                    <div class="d-flex justify-content-between align-items-start">
                                        <div class="color-card">
                                            <p class="mb-0 color-card-head">Ustozlar</p>
                                            <h2 class="text-white">{{ count.count_teacher }}</h2>
                                        </div>
                                        <a href="{% url 'user' type=2 %}" class="card-icon-indicator bg-inverse-icon-warning"><i class="mdi mdi-basket"></i></a>
                                    </div>
                                    <h6 class="text-white">Batafsil</h6>
                                </div>
                            </div>
                    </div>
                    <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
                        <div class="card bg-danger">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Adminlar</p>
                                        <h2 class="text-white">{{ count.count_admin}}</h2>
                                    </div>
                                    <a href="{% url 'user' type=1 %}" class="bg-inverse-icon-danger card-icon-indicator"><i class="mdi mdi-cube-outline"></i></a>
                                </div>
                                <h6 class="text-white">Batafsil</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
                        <div class="card bg-primary">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Userlar</p>
                                        <h2 class="text-white">{{ count.count_user }}</h2>
                                    </div>
                                    <a href="{% url 'user' type=3 %}" class="bg-inverse-icon-primary card-icon-indicator ">
                                        <i class="mdi mdi-briefcase-outline "></i>
                                    </a>
                                </div>
                                <h6 class="text-white">Batafsil</h6>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
                        <div class="card bg-success">
                            <div class="card-body px-3 py-4">
                                <div class="d-flex justify-content-between align-items-start">
                                    <div class="color-card">
                                        <p class="mb-0 color-card-head">Algaritmlar</p>
                                        <h2 class="text-white">{{ count.count_algorithm }}</h2>
                                    </div>
                                    <a href="{% url 'all_algaritm' %}" class="card-icon-indicator bg-inverse-icon-success ">
                                        <i class="mdi mdi-account-circle"></i>
                                    </a>
                                </div>
                                <h6 class="text-white">Batafsil</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-12 stretch-card grid-margin">
                <div class="card">
    <div class="card-header border-transparent">
        <h3 class="card-title">Top 5 ta ko'p ball to'plaganlar 💰💰</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-striped m-0 ">
                <thead>
                <tr>
                    <th>User ID</th>
                    <th>Full Name</th>
                    <th>Username</th>
                    <th>Level</th>
                    <th>Ballance</th>
                </tr>
                </thead>
                <tbody>
                {% for i in rating %}
                <tr>
                    <td><a href="{% url 'get_user_info' pk=i.id %}"><img {% if i.gender %} src="{% static 'assets/images/faces-clipart/pic-1.png' %}" {% else %} src="{% static 'assets/images/faces-clipart/pic-2.png' %}" {% endif %} alt="image"></a></td>
                    <td>{{ i.full_name }}</td>
                    <td>{{ i.username }}</td>
                    {% if i.level == 'Beginner' %}
                    <td><span class="text-danger">
            {{ i.level }}
          </span></td>
                    {% elif i.level == 'Junior' %}
                    <td><span class="text-warning">
            {{ i.level }}
          </span></td>
                    {% elif i.level == 'Middle' %}
                    <td><span class="text-success">
            {{ i.level }}
          </span></td>
                    {% elif i.level == 'Senior' %}
                    <td><span class="text-info">
            {{ i.level }}
          </span></td>
                    {% elif i.level == 'TeamLead' %}
                    <td><span class="text-dark">
            {{ i.level }}
          </span></td>
                    {% endif %}
                    <td>
                        <div class="sparkbar" data-color="#00a65a" style="text-wrap: balance;"
                             id="balance{{ forloop.counter }}" data-height="20"></div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.table-responsive -->
    </div>
    <!-- /.card-body -->
    <div class="card-footer clearfix">
        <a href="javascript:void(0)" class="btn btn-sm btn-secondary float-right">Ko'roq ko'rsatish</a>
    </div>
    <!-- /.card-footer -->
</div>
            </div>
        </div>
    </div>
</section>
<!-- TABLE: LATEST ORDERS -->
<!-- /.card -->


<script>
    function balanceView(id, number){
      var formattedNumber = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
      document.getElementById(id).innerHTML = formattedNumber;
    };

    var balances = {{ balances|safe }};

    for (var i = 0; i < balances.length; i++) {
      balanceView("balance" + (i + 1), balances[i]);
    }
</script>