{% extends 'base.html' %}

{% block title %} All Algarithm {% endblock %}
{% block pagetitle %} Algarithm {% endblock %}
{% block content %}

<section class="content">
      <div class="container-fluid">
          {% if key == 'create' %}
          <section class="content pb-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Yangi Algaritm <i class="fa-solid fa-layer-group"></i></h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        {% csrf_token %}
                      <div class="form-group d-flex">
                          <div class="col-6">
                            <label for="inputName">Reward</label>
                            <input type="number" id="inputName" class="form-control" name="reward" required>
                          </div>
                          <div class="col-6">
                            <label for="inputName">Bonus ball</label>
                            <input type="number" id="inputName" class="form-control" name="bonus" required>
                          </div>
                      </div>
                      <div class="form-group">
                        <label for="inputDescription">Algaritm Description</label>
                        <textarea id="inputDescription" class="form-control" name="description" required rows="4"></textarea>
                      </div>
                      <div class="form-group" aria-required="true">
                        <label for="inputStatuss">Created By</label>
                        <select class="form-control custom-select" id="inputStatuss" name="created_by" required>
                          {% for i in user %}
                            <option value="{{ i.id }}">{{ i.first_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                      <div class="row">
                          <div class="col-12">
                            <a href="{% url 'all_algaritm' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success float-right">Yangi algaritmni saqlash</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </section>
          {% elif key == 'edit' %}
          <section class="content">
          <div class="row">
            <div class="col-md-12">
              <div class="card card-outline ">
                <div class="card-header bg-primary">

                    <h4 class="card-title">Algaritmni o'zgartirish</h4>

                  <!-- tools box -->
                  <!-- /. tools -->
                </div>
                <!-- /.card-header -->
                <div class="card-body pad row">
                  <form method="post" class="row">
                    {% csrf_token %}
                  <div class="col-4">
                    <label for="">Reward</label>
                    <input type="runmber" class="form-control" value="{{ edited.reward }}" name="reward">
                  </div>
                  <div class="col-4">
                    <label for="">Bonus</label>
                    <input type="runmber" class="form-control" value="{{ edited.bonus }}" name="bonus">
                  </div>
                  <div class="col-4">
                    <label for="">Creator</label>
                    <select class="form-control custom-select" id="inputStatuss" name="created_by" required>
                      {% for i in user %}
                        <option value="{{ i.id }}">{{ i.first_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="mt-3 col-12 input-group col">
                    <textarea class="form-control" id="" cols="30" rows="10" name="desc">{{ edited.description }}</textarea>
                  </div>
                  <div class="col-auto mt-3 d-flex">
                        <button type="submit" class="btn btn-success mb-3 mr-3"><i class="fa fa-check"></i>
                            Saqlash
                        </button>
                        <button type="submit" class="btn btn-primary mb-3">
                            <a href="{% url 'all_algaritm' %}" class="text-light">
                                <i class="fa fa-home"></i> Bekor qilish
                            </a>
                        </button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <!-- /.col-->
          </div>
      <!-- ./row -->
    </section>
          {% else %}
          <div class="row">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Algaritmlar <a href="{% url 'create_algaritm' key='create' %}" class="btn btn-dark">
                      <i class="fa-sharp fa-solid fa-plus"></i>
                    </a></h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="row">
                    {% if not all_algorithm and not edited %}
                      <h2 class="text-danger">
                        Algaritmlarga doir masalalar mavjud emas ☝
                      </h2>
                      {% endif %}
                    {% for i in all_algorithm %}
                      <div class="col-sm-4">
                        <div class="position-relative p-3 bg-dark" style="height: 180px">
                          <div class="ribbon-wrapper ribbon-lg">
                              {% if i.bonus %}
                            <div class="ribbon bg-success text-lg" id="bonus{{forloop.counter}}">
                                +{{ i.bonus }}
                            </div>
                              {% endif %}
                          </div>
                          {{ i.first_name }} {{ i.last_name }} <br><i>{{i.reward}}</i><br>
                          <small>{{ i.description }}</small>
                      <div class="float-right mt-5">
                        <a href="{% url 'edit_algaritm' key='edit' pk=i.id %}" title="To'lliq ma'lumotlarni ko'rish" class="btn btn-info btn-circle btn-sm">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                    <a href="{% url 'home' %}" class="btn btn-info mt-2"><span class="icon text-white-50"><i class="fas fa-home"></i></span> Bosh Menu</a>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
          {% endif %}
            <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
</section>




<script>
  function balanceView(id, number){
    var formattedNumber = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    document.getElementById(id).innerHTML = "+" + formattedNumber;
  };

  var balances = {{ bonuses|safe }};

  for (var i = 0; i < balances.length; i++) {
    balanceView("bonus" + (i + 1), balances[i]);
  }
</script>


{% endblock %}
