{% extends 'base.html' %}

{% block title %} All Algarithm {% endblock %}
{% block pagetitle %} Algarithm {% endblock %}

{% load bootstrap4 %}
{% block content %}

<section class="content">
      <div class="container-fluid">
          {% if key == 'form' %}
          <section class="content pb-3">
              <div class="row">
                <div class="col-md-12">
                  <div class="card card-primary">
                    <div class="card-header">
                      <h3 class="card-title">Yangi Algaritm <i class="fa-solid fa-layer-group"></i></h3>

                      <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                          <i class="fas fa-minus"></i></button>
                      </div>
                    </div>
                    <div class="card-body">
                      <form method="post">
                        {% csrf_token %}
                      <div class="form-group d-flex">
                          <div class="col-6">
                            {% bootstrap_field form.reward %}
                          </div>
                          <div class="col-6">
                            {% bootstrap_field form.bonus %}
                          </div>
                          <div class="col-6" hidden>
                            {% bootstrap_field form.creator %}
                          </div>
                      </div>
                      <div class="form-group">
                        {% bootstrap_field form.description %}
                      </div>
                      <div class="row">
                          <div class="col-12">
                            <a href="{% url 'all_algaritm' %}" class="btn btn-secondary">Cancel</a>
                            <button type="submit" class="btn btn-success float-right">Yangi algaritmni saqlash</button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                </div>
              </div>
            </section>
          {% else %}
          <div class="row">
              <div class="col-12">
                <div class="card card-primary">
                  <div class="card-header">
                    <h3 class="card-title">Algaritmlar <a href="{% url 'create_algaritm' key='form' %}" class="btn btn-dark">
                      <i class="fa-sharp fa-solid fa-plus"></i>
                    </a></h3>
                  </div>
                  <!-- /.card-header -->
                  <div class="card-body">
                    <div class="row">
                    {% if not all_algorithm and not edited %}
                      <h2 class="text-danger">
                        Algaritmlarga doir masalalar mavjud emas ☝
                      </h2>
                      {% endif %}
                    {% for i in all_algorithm %}
                      <div class="col-sm-4 mt-2">
                        <div class="position-relative p-3 bg-dark" style="height: 180px">
                          <div class="ribbon-wrapper ribbon-lg">
                              {% if i.bonus %}
                            <div class="ribbon bg-success text-lg" id="bonus{{forloop.counter}}">
                                +{{ i.bonus }}
                            </div>
                              {% endif %}
                          </div>
                          {{ i.first_name }} {{ i.last_name }} <br><i>{{i.reward}}</i><br>
                          <small>{{ i.description }}</small>
                      <div class="float-right mt-5">
                        <a href="{% url 'edit_algaritm' key='form' pk=i.id %}" title="To'lliq ma'lumotlarni ko'rish" class="btn btn-info btn-circle btn-sm">
                          <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                      </div>
                        </div>
                      </div>
                    {% endfor %}
                    </div>
                    <a href="{% url 'home' %}" class="btn btn-info mt-2"><span class="icon text-white-50"><i class="fas fa-home"></i></span> Bosh Menu</a>
                  </div>
                  <!-- /.card-body -->
                </div>
                <!-- /.card -->
              </div>
              <!-- /.col -->
            </div>
          {% endif %}
            <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
</section>




<script>
  function balanceView(id, number){
    var formattedNumber = number.toString().replace(/\B(?=(\d{3})+(?!\d))/g, " ");
    document.getElementById(id).innerHTML = "+" + formattedNumber;
  };

  var balances = {{ bonuses|safe }};

  for (var i = 0; i < balances.length; i++) {
    balanceView("bonus" + (i + 1), balances[i]);
  }
</script>


{% endblock %}
