{% extends 'base.html' %}

{% block title %} Category {% endblock %}
{% block page_title %} Category {% endblock %}
{% block pagetitle %} Category {% endblock %}
{% load bootstrap4 %}

{% block content %}




<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">

            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    {% if roots %}
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>№</th>
                            <th>Category nomi</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for i in roots %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ i.name }}</td>
                            <td>
                                <a data-toggle="modal" data-target="#editModal{{ i.id }}" title="O'zgartirish"
                                   class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-pen"></i>
                                </a>
                            </td>

                        </tr>
                        {% endfor %}

                        </tbody>

                    </table>
                    {% else %}
                    <h3>Categoriyalar Mavjud emas</h3>
                    {% endif %}

                    <br>
                    <hr>
                    <div class="pagination">
                    <span class="step-links">
                        {% if roots.has_previous %}
                            <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>
                            <a href="?page={{ roots.previous_page_number }}" class="btn btn-primary btn-sm">prev</a>
                        {% endif %}

                        <span class="current">
                            Page {{ roots.number }} of {{ roots.paginator.num_pages }}.
                        </span>

                        {% if roots.has_next %}
                            <a href="?page={{ roots.next_page_number }}" class="btn btn-primary btn-sm">next</a>
                            <a href="?page={{ roots.paginator.num_pages }}"
                               class="btn btn-primary btn-sm">last&raquo;</a>
                        {% endif %}
                    </span>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a data-toggle="modal" data-target="#addModal" class="btn btn-success">
                            <span class="icon text-white-50">
                                <i class="fas fa-check"></i>
                            </span>
                                <span class="text">Category qo'shish</span>
                            </a>
                            <a href="{% url 'home' %}" class="btn btn-info">
                           <span class="icon text-white-50">
                                <i class="fas fa-home"></i>
                            </span>
                                <span class="text">Bosh Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>




<!-- Delete Modal-->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="AddModalLabel">Yangi Categoriya</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="{% url 'category_add' %}" method="post">
                {% csrf_token %}
                <div class="form-group col-md-4">
                    {% bootstrap_field form.name %}
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Ha</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% for i in roots %}

<div class="modal fade" id="editModal{{ i.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Chiqish so'rovi</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
             <form action="{% url 'category_edit' pk=i.id %}" method="post">
                {% csrf_token %}
                <div class="form-group col-md-4">
                    <input type="text" value="{{ i.name }}" name="name" >
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Saqlash</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}



{% endblock %}


