{% extends 'base.html' %}

{% block title %} List | Users {% endblock %}
{% block pagetitle %} Users List {% endblock %}

{% load static %}

{% block content %}
<!-- /.content -->
<style>
    .card-body-1{
        background-image: url({% static "img.png" %})
    }
</style>

<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <!-- /.card-header -->
                <div class="card-body">
                    <div class="card shadow-none">
                        <div class="d-flex">
                            <img {% if update_user.gender %}
                             src="{% static 'ddist/img/avatar.png' %}"
                             {% else %}
                             src="{% static 'ddist/img/avatar2.png' %}"
                             {% endif %} alt="" class="border w-auto" style="border-radius: 20px; width: 15%">
                        <div class="w-100" >
                            <div class="float-right" align="right">
                                <a href="{% url 'user_edit' type=update_user.ut status='form' pk=update_user.id %}" title="O'zgartirish"
                                   class="btn btn-outline-warning btn-circle btn-sm">
                                    <i class="fas fa-pen"></i> User malumotlarini o'zgartirish
                                </a><br>

                                <a onclick="history.back(-1)"
                                   title="ortga" href="{% url 'user' type=update_user.ut %}"
                                   class="btn btn-outline-primary mt-3 btn-circle btn-sm">
                                    <i class="fa-solid fa-backward"></i> Ortga qaytish
                                </a><br>
                                {% if request.user.is_staff and request.user.is_superuser and update_user != request.user %}
                                    {% if update_user.ut == 3  %}
                                        <a href="{% url 'grader' gr=1 pk=update_user.id %}"
                                           title="Grade up"
                                           class="btn btn-outline-success mt-3 btn-circle btn-sm">
                                            <i class="fa fa-shield"></i> Adminlar safiga qo'shish
                                        </a>

                                        <a href="{% url 'grader' gr=2 pk=update_user.id %}"
                                           title="Grade up"
                                           class="btn btn-outline-info mt-3 btn-circle btn-sm">
                                            <i class="fa fa-shield"></i> O'qituvchilar safiga qo'shish
                                        </a>
                                    {% elif update_user.ut == 2 %}
                                        <a href="{% url 'grader' gr=1 pk=update_user.id %}"
                                           title="Grade up"
                                           class="btn btn-outline-success mt-3 btn-circle btn-sm">
                                            <i class="fa fa-shield"></i> Adminga ko'tarish
                                        </a>
                                        <a href="{% url 'grader' gr=3 pk=update_user.id %}"
                                           title="Grade down"
                                           class="btn btn-outline-danger mt-3 btn-circle btn-sm">
                                            <i class="fas fa-angle-double-down"></i> Mentorlar safidan chiqarish
                                        </a>
                                    {% else %}
                                        <a href="{% url 'grader' gr=2 pk=update_user.id %}"
                                           title="Grade down"
                                           class="btn btn-outline-danger mt-3 btn-circle btn-sm">
                                            <i class="fas fa-angle-down"></i> Adminlar safidan chiqarish(o'qituvchi)
                                        </a>
                                        <a href="{% url 'grader' gr=3 pk=update_user.id %}"
                                           title="Grade down"
                                           class="btn btn-outline-danger mt-3 btn-circle btn-sm">
                                            <i class="fas fa-angle-double-down"></i> Adminlar safidan chiqarish(o'quvchi)
                                        </a>
                                    {% endif %}
                                       <br>
                                        <a class="btn btn-outline-success mt-3 btn-circle btn-sm" data-toggle="modal" data-target="#bonusForOneModal">
                                            <i class="fas fa-gift"></i> Bonus berish
                                        </a>

                                {% endif %}
                            </div>
                            <div class="px-3 py-2" style="font-size: 1.7rem"><mark>{{ update_user.full_name }}</mark></div>
                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">Email: </span><mark>{{ update_user.email }}</mark></div>
                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">Daraja: </span><mark>{{ update_user.level }}</mark></div>
                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">User Type: </span><mark>{% if update_user.ut == 1  %} Admin {% elif update_user.ut == 2 %} Teacher {% else %} Student {% endif %}</mark></div>
                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">Mutaxasisligi: </span><mark>{{ update_user.specialty }}</mark></div>
                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">Email tasdiqlanganmi?: </span><mark>{{ update_user.everf }}</mark></div>
                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">Telefon raqami: </span><mark>{{ update_user.show_phone }}</mark></div>
<!--                            <div class="px-3" style="font-size: 1.1rem"><span style="font-weight: 600">Orginal Phone: </span><mark>{{ update_user.phone }}</mark></div>-->
                        </div>
                        </div>
                    </div>

                    <div class="row mt-4">
                    <nav class="w-100">
                      <div class="nav nav-tabs" id="product-tab" role="tablist">
                        <a class="nav-item nav-link active" id="product-comments-tab" data-toggle="tab" href="#product-comments" role="tab" aria-controls="product-comments" aria-selected="true">User Kartalari</a>
                      </div>
                    </nav>
                    <div class="tab-content p-3" id="nav-tabContent">
                      <div class="tab-pane fade active show" id="product-comments" role="tabpanel" aria-labelledby="product-comments-tab">
                      {% if card_user %}
                            {% for i in card_user %}
                                {% if card_len > 1 %}
                                    <div class="card-body-1 card text-light d-inline-block mr-3 mt-2 w-auto"
                                         style="max-width: 28rem; width: 26%; border-radius: 20px">
                                        <div class="card-body">
                                            <h4 class="card-text">{{ i.name }}
                                                <a href="{% url 'del-card' pk=i.id user=update_user.id%}" title="Kartani Ochirish" class="btn btn-danger ml-4 btn-circle btn-wd">
                                                    <i class="fa fa-trash"></i>
                                                </a>
                                            </h4>
                                            <p class="card-text"><b>{{ i.balance }} сум</b></p>
                                            <p class="card-text text-uppercase">{{ i.user.full_name }}</p>
                                            <p class="card-text">{{ i.mask }} <span class="ml-5"> {{ i.expire }}</span></p>
                                        </div>
                                    </div>
                                {% else %}
                                  <div class="card-body-1 card text-light d-inline-block mr-3 mt-2 w-auto"
                                       style="max-width: 28rem; width: 26%; border-radius: 20px">
                                      <div class="card-body">
                                          <h4 class="card-text">{{ i.name }}</h4>
                                          <p class="card-text"><b>{{ i.balance }} сум</b></p>
                                          <p class="card-text text-uppercase">{{ i.user.full_name }}</p>
                                          <p class="card-text">{{ i.mask }} <span class="ml-5"> {{ i.expire }}</span></p>
                                      </div>
                                  </div>
                                {% endif %}
                          {% endfor %}
                      {% else %}
                          <div class="card-body bg-secondary card text-light d-inline-block mr-3 mt-2 w-auto"
                                 style="max-width: 28rem; width: 26%; border-radius: 20px">
                                <div class="card-body">
                                    <h5 class="card-text">Bu Foydalanuvchida hech qanday karta topilmadi</h5>
                                </div>
                               <div class="col-xl-12 col-md-12 mb-6">
                                   <a href="{% url 'create-cart' user_id=update_user.id %}" class="btn btn-primary">
                                   <span class="icon text-white-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                        <span class="text">Yangi Karta qo'shish</span>
                                    </a>
                                </div>
                            </div>

                      {% endif %}

                      </div>

                    </div>
                  </div>

                    <br>

                    <div class="row">
                        <div class="col-xl-6 col-md-6 mb-4">
                            <a href="{% url 'home' %}" class="btn btn-info">
                           <span class="icon text-white-50">
                                <i class="fas fa-home"></i>
                            </span>
                                <span class="text">Bosh Menu</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
</section>




<!-- Bonus Modal-->
<div class="modal fade" id="bonusForOneModal" tabindex="-1" role="dialog" aria-labelledby="BonusForALlModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="BonusForALlModalLabel">{{ update_user.full_name }}ga bonus</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form action="{% url 'award_for_one' pk=update_user.id %}" method="post">
                {% csrf_token %}
                <div class="form-group col-md-4">
                    <label for="award">Bonus Qiymatini yozing</label><br>
                    <input type="number" id="award" name="reward">
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Bonus berish</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}
