{% extends 'base.html' %}

{% block title %} Monitoring {% endblock %}
{% block pagetitle %}Monitoring{% endblock %}
{% block page_title %}{% if user_3 %}<div class="text-xl">Chiqimlar ro'yxati</div>{% else %}Monitoring{% endif %}{% endblock %}
{% block content %}


{% if request.user.ut == 2 %}
<h2 class="text-secondary text-md">Siz Ustozsiz sizga hali o'tkazmalar uchun ruxsat yo'q</h2>
{% else %}

{% if monitorings %}
<div class="container-fluid rounded bg-white rounded border-bottom">
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Yuboruvchi karta</th>
                <th>Qabul qilivchi karta</th>
                <th>Summa</th>
                <th>Kim Tomonidan</th>
                <th>Kimga Yuborilgan</th>
                <th>Yaratilgan vaqt</th>
                <th>O'zgartirilgan vaqt</th>
                <th>Holati</th>
            </tr>
            </thead>
            <tbody>
            {% for i in monitorings %}

            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ i.sender.mask }}</td>
                <td>{{ i.receiver.mask  }}</td>
                <td><i class="fa-solid fa-coins"></i> {{ i.amount }} </td>
                {% if request.user.ut == 1 %}
                    <td><a href="{% url 'get_user_info' pk=i.sender.user.id %}" title="User malumotlari 👈">{{ i.sender.user }}</a></td>
                    <td><a href="{% url 'get_user_info' pk=i.receiver.user.id %}" title="User malumotlari 👈">{{ i.receiver.user }}</a></td>
                {% else %}
                    <td>{{ i.sender.user }}</td>
                    <td>{{ i.receiver.user }}</td>
                {% endif %}
                <td>{{ i.created |date:'d-M Y || H:i' }}</td>
                <td>{{ i.updated |date:'d-M Y || H:i' }}</td>
                <td>
                    {% if request.user.ut == 3 and i.sender.user == request.user %}
                    <a title="Pul Yuborilgan" class="btn bg-danger text-white rounded-circle btn-sm">
                         <i class="fa-solid fa-sack-xmark"></i>
                    </a>
                    {% elif request.user.ut == 3 and i.receiver.user == request.user %}
                    <a title="Qabul qilingan" class="btn bg-success text-white rounded-circle btn-sm">
                         <i class="fa-solid fa-sack-dollar"></i>
                    </a>
                    {% endif %}
                    {% if i.status == 0 %}
                    <a title="Jarayonda" class="btn bg-purple text-white rounded-circle btn-sm">
                        <i class="fa-regular fa-clock"></i>
                    </a>
                    {% elif i.status == 1 %}
                    <a title="Pul o'tqizilgan" class="btn bg-primary text-white rounded-circle btn-sm">
                        <i class="fa-solid fa-check"></i>
                    </a>
                    {% elif i.status == 2 %}
                    <a title="Pul o'tqizilmadi" class="btn bg-danger text-white rounded-circle btn-sm">
                         <i class="fa-solid fa-x"></i>
                    </a>
                    {% endif %}

                </td>

            </tr>
            {% endfor %}

            </tbody>
        </table>
        <br>
        <hr>
        <div class="pagination">
        <span class="step-links">
            {% if monitorings.has_previous %}
                <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>
                <a href="?page={{ monitorings.previous_page_number }}" class="btn btn-primary btn-sm">prev</a>
            {% endif %}

            <span class="current">
                Page {{ monitorings.number }} of {{ monitorings.paginator.num_pages }}.
            </span>

            {% if monitorings.has_next %}
                <a href="?page={{ monitorings.next_page_number }}" class="btn btn-primary btn-sm">next</a>
                <a href="?page={{ monitorings.paginator.num_pages }}"
                   class="btn btn-primary btn-sm">last&raquo;</a>
            {% endif %}
        </span>
        </div>
        <hr>
    </div>
</div>
{% else %}
<div class="text-xl">Hech qanday O'tkazmalar mavjud emas</div>
{% endif %}

{% endif %}
<a href="{% url 'home' %}" class="btn btn-info btn-icon-split mt-4">
    <span class="icon text-white-50">
        <i class="fas fa-home"></i>
    </span>
    <span class="text">Bosh Menu</span>
</a>

{% endblock %}