{% extends 'base.html' %}

{% block title %} Product | View {% endblock %}
{% block page_title %} Maxsulotlar {% endblock %}
{% block pagetitle %} Maxsulotlar {% endblock %}
{% load bootstrap4 %}

{% block content %}


{% if pos == 'form' %}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-secondary">
                    <div class="card-header">
                        <h3 class="card-title">Maxsulotni saqlash</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="card-body">
                            <div class="form-row">

                                <div class="form-group col-md-4">
                                    {% bootstrap_field form.name %}
                                </div>
                                <div class="form-group col-md-4">
                                    {% bootstrap_field form.img %}
                                </div>
                                <div class="form-group col-md-4">
                                    {% bootstrap_field form.cost %}
                                </div>

                                <div class="form-group col-md-4">
                                    {% bootstrap_field form.discount_price %}
                                </div>
                                <div class="form-group col-md-4">
                                    {% bootstrap_field form.category %}
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="form-row">
                                    <div class="card-action right-align">
                                        <button type="submit" class="btn btn-block btn-success">
                                            <i class="fas fa-check"></i> O'zgarishlarni Saqlash
                                        </button>
                                    </div>
                                    <a href="{% url 'dashboard-auto-list' key='product' %}">
                                        <div class="card-action ml-1 right-align">
                                            <button type="button" class="btn btn-block btn-info">
                                                <i class="fas fa-home"></i> Listlarga qaytish
                                            </button>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.card -->


            </div>
            <!--/.col (left) -->
            <!-- right column -->

            <!--/.col (right) -->
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
{% else %}


<section class="content ml-3">
    <div>
        <a href="{% url 'dashboard-auto-add' key='product' %}" class="btn btn-outline-dark mb-3"><i
                class="fa-solid fa-cart-plus"></i> Yangi maxsulot qo'shish</a>
    </div>
    {% if not roots %}
    <h3 class="text-warning">
        Maxsulotlar mavjud emas yangi mahsulot qo'shing ☝
    </h3>
    {% endif %}
    <div class="row">
        {% for i in roots %}
        <div class="card mr-3" style="width: 18rem;">
            <img src="{{ i.img.url }}" class="card-img-top" alt="{{ i.img }}">
            <div class="card-body">
                <h5 class="card-title mb-3 w-100" style="font-size: 0.91rem">{{ i.category }} | {{ i.name }}</h5>
                <div class="card-text px-3 rounded-pill w-auto"
                     style="font-weight: 400; background-color: #EBE9E9"><span>
                                    {% if i.discount_percent == 0 %} </span>
                            <div>Maxsulot narxi {{ i.cost }} coin</div>
                            {% else %}
                            <span style="text-decoration: line-through;">{{ i.cost }} </span> coin <sup> -{{ i.discount_percent }} %</sup>
                            {% endif %}

                </div>
                <div style="font-weight: 600;" class="my-3">{{ i.discount_price }} Coin
                    <div class="float-right">
                        <a href="{% url 'dashboard-auto-edit' key='product' pk=i.id %}" title="O'zgartirish"
                           class="btn btn-warning btn-circle btn-sm">
                            <i class="fas fa-pen"></i>
                    </a></div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
<!--    <hr>-->
<!--    <div class="pagination">-->
<!--        <span class="step-links">-->
<!--            {% if roots.has_previous %}-->
<!--                <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>-->
<!--                <a href="?page={{ roots.previous_page_number }}" class="btn btn-primary btn-sm">prev</a>-->
<!--            {% endif %}-->

<!--            <span class="current">-->
<!--                Page {{ roots.number }} of {{ roots.paginator.num_pages }}.-->
<!--            </span>-->

<!--            {% if roots.has_next %}-->
<!--                <a href="?page={{ roots.next_page_number }}" class="btn btn-primary btn-sm">next</a>-->
<!--                <a href="?page={{ roots.paginator.num_pages }}"-->
<!--                   class="btn btn-primary btn-sm">last&raquo;</a>-->
<!--            {% endif %}-->
<!--        </span>-->
<!--    </div>-->
<!--    <hr>-->
</section>


{% endif %}


{% endblock %}