{% extends 'base.html' %}

{% block title %} Shop {% endblock %}
{% block pagetitle %}Shop{% endblock %}
{% block page_title %}Maxsulotlar {% endblock %}
{% block content %}

{% if root %}
{% for i in root %}

<div class="row col-md-6 mb-3">
    <div class="">
        <div class="card">
            <div class="">
                <div class="card-body d-flex">
                    <div class="float-left w-100">
                        <img src="{{ i.img.url }}" alt="" class="w-100 rounded">
                    </div>
                    <div class="float-right w-100 ml-3">
                    <form method="post">
                        {% csrf_token %}
                        <input name="product_id" value="{{i.id}}" hidden=""></input>
                        <h5 class="card-text">Mahsulot nomi: {{ i.name }}</h5>
                        <p class="card-text">Mahsulot turi: {{ i.category }}</p>
                        <p class="card-text">
                            {% if i.discount_percent == 0 %}
                            <div>
                                Maxsulot narxi: {{ i.cost }} coin
                            </div>
                            {% else %}
                            Mahsulot narxi: <span>{{ i.cost }} </span> coin <sup class="text-sm bg-purple rounded p-1"> -{{ i.discount_percent }} %</sup>
                            {% endif %}</p>
                        <p class="card-text">Cherigma narxi: {{ i.discount_price }} coin <i class="fa-solid fa-coins"></i></p>


                        <button type="button" class="mt-2 btn rounded-pill bg-purple btn-sm" onclick="decrementScore(1, score_{{ i.id }})"><<</button>
                        <a href="#" name="quantity" class="mt-2 btn rounded-circle btn-primary"><span data-model-name="quantity" id="score_{{ i.id }}"> 1 </span></a>
                        <button type="button" class="mt-2 btn rounded-pill bg-purple btn-sm" onclick="incrementScore(1, score_{{ i.id }})"> >> </button>
                        <button type="submit" class="mt-2 ml-4 btn rounded-circle btn-primary"> Buy </button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endfor %}
{% else %}
<h2 class="text-success">Mahsulotlar mavjud emas</h2>
{% endif %}

<script>
    var score = 1;

    function incrementScore(value, id_score) {
      score += value;
      var scoreObject = document.getElementById(id_score);
      scoreObject.innerHTML = score;
    }

    function decrementScore(value, id_score) {
      if (score > 1) {
        score -= value;
        var scoreObject = document.getElementById(id_score);
        scoreObject.innerHTML = score;
      }
    }
</script>


{% endblock %}