{% extends 'base.html' %}
{% load static %}
{% block title %} Shop {% endblock %}
{% block pagetitle %}Shop{% endblock %}
{% block page_title %}Maxsulotlar {% endblock %}
{% block content %}



    {% if request.session.ordered %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-check"></i>Successfully</h5>
        Maxsulot ko'rib adminga yuborildi. Iltimos Adminni javobini kuting

    </div>
    {% elif error %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-ban"></i>Error</h5>
        {{ error }}
    </div>
    {% else %}
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <h5><i class="icon fas fa-info"></i>Diqqat!</h5>
        Agarda siz Maxsulot qo'shganda avvalgisini ustiga qo'shishni tanlagan bo'lsangiz. Avval n ta maxsulot qo'shgan bo'lsangiz yangi kiritgan soningdan n+yangi son hisoblab ketiladi.
        Masalan: avval 3ta qo'shgandingiz, hozir esa 2ta qo'shyabsiz natija: 5ta uchun umumiy summa hisoblanadi
    </div>
    {% endif %}
{% if root %}
<div class="row">

    {% for i in root %}
    <div class="col-md-2">
        <div class="card card-widget">
            <div class="card-header">
                <div class="user-block">
                    <img class="img-circle" src="{% static 'auth/logo1.png' %}" alt="User Image">
                    <span class="username"><a href="#">Fintech Coin</a></span>
                    <span class="description">{{ i.category }}</span>
                </div>
                <!-- /.user-block -->
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                    </button>
                </div>
                <!-- /.card-tools -->
            </div>
            <!-- /.card-header -->
            <div class="card-body" style="display: block;">
                <a href="">
                    <img class="img-fluid pad" src="{{ i.img.url }}" alt="Photo" width="400px">
                </a>
                <div class="d-flex">
                    <div>
                        <p class="mt-3 text-capitalize"><b>Mahsulot nomi: {{ i.name }}</b><span
                                class="float-right text-muted"></span></p>
                        <div class="card-text px-3 rounded-pill w-auto" style="font-weight: 400; background-color: #EBE9E9"><span>
                                    {% if i.discount_percent == 0 %} </span>
                            <div>Maxsulot narxi {{ i.cost }} coin</div>
                            {% else %}
                            <span style="text-decoration: line-through;">{{ i.cost }} </span> coin <sup> -{{ i.discount_percent }} %</sup>
                            {% endif %}
                        </div>

                        <div style="font-weight: 600;" class="my-3">{{ i.discount_price }} Coin

                                <button data-toggle="modal" style="margin-top: -8px"
                                        data-target="#MaxsulotSoniModal{{ i.id }}" type="button"
                                        class="float-right btn rounded-pill btn-primary ml-3"> Buyurtma berish
                                </button>
                        </div>

                    </div>
                </div>
            </div>

        </div>
        <!-- /.card -->
    </div>
    {% endfor %}
</div>

{% else %}
<h2 class="text-success">Mahsulotlar mavjud emas</h2>
{% endif %}
{% for i in root %}
<div class="modal fade" id="MaxsulotSoniModal{{ i.id }}" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Maxsulotni soni</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <input hidden value="{{ i.id }}" name="product_id">
                <div class="modal-body">Maxsulotni sonini kiriting</div>
                <div class="form-group col-md-6">
                    <input type="number" class="form-control form-control-sm" name="quentity" required min="1">
                </div>
                <div class="modal-footer">
                    <label for="add">Avvalgisini ustiga qo'shish</label>
                    <input type="checkbox" id="add" name="extra" checked class="btn-primary">
                    <button type="submit" class="btn btn-primary">Buyurtma berish</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
