{% load static %}
<li class="nav-item">
    <a class="nav-link" href="{% url 'user' type=3 %}">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title">Userlar</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ monit_active }}" href="{% url 'monitoring_page' %}">
        <i class="mdi mdi-contacts menu-icon"></i>
        <span class="menu-title">User O'tkazmalar</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ news_active }}" href="{% url 'dashboard-auto-list' key='news' %}">
        <i class="mdi mdi-format-list-bulleted menu-icon"></i>
        <span class="menu-title">Yangiliklar</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ product_active }}" href="{% url 'dashboard-auto-list' key='product' %}">
        <i class="mdi mdi-chart-bar menu-icon"></i>
        <span class="menu-title">Maxsulotlar</span>
    </a>
</li>
<li class="nav-item">
    <a class="nav-link {{ ctg_active }}" href="{% url 'category' %}">
        <i class="mdi mdi-table-large menu-icon"></i>
        <span class="menu-title">Categorylar</span>
    </a>
</li>
<li class="nav-item">
    <span class="nav-link" href="#">
      <span class="menu-title">Docs</span>
    </span>
</li>
<li class="nav-item">
    <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
        <i class="mdi mdi-crosshairs-gps menu-icon"></i>
        <span class="menu-title">Education Paneli</span>
        <i class="menu-arrow"></i>
    </a>
    <div class="collapse" id="ui-basic">
        <ul class="nav flex-column sub-menu">
            <li class="nav-item">
                <a class="nav-link {{ gr_active }}" href="{% url 'admin-group' %}">Guruhlar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ course_active }}" href="{% url 'admin-course' %}">Kurslar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {{ ints_active }}" href="{% url 'admin-interested' %}">Yangi Yozilganlar</a>
            </li>
        </ul>
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="mdi mdi-file-document-box menu-icon"></i>
        <span class="menu-title">Documentation</span>
    </a>
</li>