<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Menular paneli
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">

        <li class="nav-item">
            <a href="{% url 'mentor_admin-group' %}" class="nav-link {{ gr_active }}">
                <i class="fas fa-users"></i>
                <p>Guruhlar</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'user_davomat' %}" class="nav-link {{ user_instruction }}">
                <i class="fas fa-users"></i>
                <p>O'quvchilaringiz</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="{% url 'mentor_algorithm' %}" class="nav-link {{ algorithm_active }}">
                <i class="fas fa-clipboard-list"></i>
                <p> Your Algorithm</p>
            </a>
        </li>

    </ul>
</li>