<li class="nav-item has-treeview menu-open">
    <a href="#" class="nav-link active">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Menular paneli
            <i class="right fas fa-angle-left"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="" class="nav-link {{ u_active }}">
                <i class="fa-solid fa-users"></i>
                <p>Guruhlar</p>
            </a>
        </li>

    </ul>
</li>