<li class="nav-item">
    <a href="{% url 'user_group_page' %}" class="nav-link {{ gr_active }}">
        <i class="fa fa-users pb-3 pl-1 pr-3"></i>
        <p>Guruhlar </p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'done_algoritms' %}" class="nav-link {{ algorithm_active }}">
        <i class="fa fa-calculator pb-3 pl-1 pr-3"></i>
        <p>Algoritmlar</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'user_payments' %}" class="nav-link {{ p2p_active }}">
        <i class="fa fa-credit-card-alt pb-3 pl-1 pr-3"></i>
        <p>Jonatish</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'shop' %}" class="nav-link {{ shop_active }}">
        <i class="mdi mdi-cart pb-3 pl-1 pr-3" style="font-size: 1.3rem"></i>
        <p>Maxsulotlar</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'user_profile' %}" class="nav-link {{ profile_active }}">
        <i class="fa fa-user pb-3 pl-1 pr-3"></i>
        <p>Profil</p>
    </a>
</li>
<li class="nav-item">
    <a href="{% url 'monitoring_page' %}" class="nav-link {{ monit_active }}">
        <i class="fa fa-credit-card pb-3 pl-1 pr-3"></i>
        <p>O'tkazmalar</p>
    </a>
</li>
