    <li class="nav-item has-treeview menu-open">
        <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
                Menular paneli
                <i class="right fas fa-angle-left"></i>
            </p>
        </a>
        <ul class="nav nav-treeview">
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="fa-solid fa-users"></i>
                    <p>Boshqa Menular bo'ladi </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">
                    <i class="fa-solid fa-user"></i>
                    <p>Admin bilan bog'lanish</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'done_algoritms' %}" class="nav-link">
                    <i class="fa-solid fa-calculator"></i>
                    <p>Algoritmlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user_payments' %}" class="nav-link">
                    <i class="fa fa-credit-card-alt"></i>
                    <p>Jonatish</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'shop' %}" class="nav-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                    <p>Maxsulotlar</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'user_profile' %}" class="nav-link">
                    <i class="fa-solid fa-person"></i>
                    <p>Profil</p>
                </a>
            </li>

        </ul>
    </li>
