{% extends 'base.html' %}
{% load bootstrap4 %}
{% block title %}Davomat{% endblock %}
{% block pagetitle %}Davomat{% endblock %}
{% block page_title %}Darsdagi Yo'qlama{% endblock %}
{% block content %}

{% if not root.is_end %}
    <div class="content">
        <div class="row">
            <div class="col-12 bg-white border-left-success shadow h-100 py-2 rounded">
                <div align="center" class="text-xl">Dars qo'shish</div>
                <div>
                    <form method="post" id="form-profession" enctype="multipart/form-data" class="row p-4">
                        {% csrf_token %}
                        <div class="col-md-4">
                            {% bootstrap_field form.topic %}
                        </div>
                        <div class="col-md-4">
                            <label for="startVaqti">Boshlangan vaqti</label>
                            <input type="datetime-local" value="{{ root.startedTime |date:'Y-m-d H:i' }}" class="form-control" id="startVaqti" name="startedTime">
                        </div>
                        <div class="col-md-4">
                            <label for="endVaqti">Tugash vaqti</label>
                            <input type="datetime-local" value="{{ root.endedTime |date:'Y-m-d H:i' }}" class="form-control" id="endVaqti" name="endedTime">
                        </div>
                        <div class="col-md-4" hidden>
                            {% bootstrap_field form.group %}
                        </div>

                        <div class="col mt-2">
                            <button type="submit" class="btn btn-success "><i class="fas fa-save"></i> Saqlash</button>
                            <a href="{% url 'admin-group-one' group_id=group_id %}" class="btn btn-primary "><i
                                    class="fa-solid fa-backward"></i> Bekor qilish</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% else %}

    <div class="card mb-4 border-left-success">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nomi</th>
                        <th>Gurux</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>{{ root.id }}</td>
                        <td>{{ root.topic }}</td>
                        <td>{{ root.group }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endif %}



<hr class="border-warning">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">Guruhga tegishli bo'lgan O'quvchilar Yo'qlamasi</h6>
    </div>
    {% if members %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Username</th>
                    <th>Familya, Ism</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in members %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.student.username }}</td>
                    <td>{{ i.student.full_name }}</td>
                    {% if not root.is_end %}
                        <td>
                                <a href="" title="Darska keldi"
                                   class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-hand-sparkles"></i>
                                </a>
                                <a href="" title="Darska Kelmadi"
                                   class="btn btn-warning btn-circle btn-sm">
                                    <i class="fas fa-hand-fist"></i>
                                </a>

                        </td>
                    {% else %}

                        {% if i.kelganligi == 'Keldi' %}
                            <td>
                                <a title="Darska keldi"
                                   class="btn btn-success btn-circle btn-sm">
                                    <i class="fas fa-hand-shake"></i>
                                </a>
                            </td>
                        {% elif i.kelganligi == 'Kemadi' %}
                            <td>
                                 <a title="Darska Kelmadi"
                                   class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-hand-back-fist"></i>
                                </a>
                            </td>
                        {% else %}
                            <td>
                                <a title="Aniq Emas"
                                   class="btn btn-info btn-circle btn-sm">
                                    <i class="fas fa-circle-xmark"></i>
                                </a>
                            </td>
                        {% endif %}
                    {% endif %}

                </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Ushbu Guruhda hech qanday o'quvchilar yo'q</h6>
    </div>
    {% endif %}
</div>


<script>
    document.getElementById('startVaqti').valueAsDate = {{ root.startedTime }};
    document.getElementById('endVaqti').valueAsDate = new Date();

</script>

{% endblock %}