{% extends 'base.html' %}
{% block title %}Group | View{% endblock %}
{% block pagetitle %}Guruhlar{% endblock %}
{% block page_title %}Guruh Turlari{% endblock %}

{% load bootstrap4 %}
{% block content %}


{% if position == 'one' %}

<div class="card mb-4 border-left-success">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Guruh</th>
                    <th>Course</th>
                    <th>Mentor</th>
                    <th>Davomiyligi</th>
                    <th>Holati</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <td>{{ group.id }}</td>
                    <td>{{ group.name }}</td>
                    <td>{{ group.course.name }}</td>
                    <td>{{ group.course.mentor.full_name }}</td>
                    <td>{{ group.duration }}</td>

                    <td>
                        <mark>{% if group.status == 1 %}
                            <i class="text-info">Boshlanmoqda</i>
                            {% elif group.status == 2 %}
                            <i class="text-success">Davom Qilyabdi</i>
                            {% elif group.status == 3 %}
                            <i class="text-warning">Guruh Yopilgan</i>
                            {% else %}
                            <i class="text-danger">Aniq Emas</i>
                            {% endif %}
                        </mark>
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>


</div>


<hr class="border-warning">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">Guruhga tegishli bo'lgan O'quvchilar ro'yxati</h6>
    </div>
    {% if members %}
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>№</th>
                    <th>Username</th>
                    <th>Familya, Ism</th>
                    <th>Status</th>
                    <th>{% if request.user.ut == 1 %}Actions{% elif request.user.ut == 2 %}Telefon raqam{% endif %}</th>
                </tr>
                </thead>
                <tbody>
                {% for i in members %}
                {% if i.id != request.session.user %}

                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ i.username }}</td>
                    <td>{{ i.full_name }}</td>
                    {% if i.status == 1 %}
                    <td class="text-secondary">Faol Emas</td>
                    {% elif i.status == 2 %}
                    <td>Faol</td>
                    {% elif i.status == 3 %}
                    <td>Mavjud emas</td>
                    {% else %}
                    <td>Aniq Emas</td>
                    {% endif %}

                    <td>
                        {% if request.user.ut == 1 %}
                        <a href="{% url 'get_user_info' pk=i.id %}" title="Member Info"
                           class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-info"></i>
                        </a>
                        <a href="{% url 'admin-group-del-student' group_id=group.id student_id=i.id %}"
                           title="Remove From Group" class="btn btn-danger btn-circle btn-sm">
                            <i class="fas fa-trash"></i>
                        </a>
                        {% elif request.user.ut == 2 %}
                        {{ i.phone }}
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
    {% else %}
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Ushbu Guruhda hech qanday o'quvchilar yo'q</h6>
    </div>
    {% endif %}
</div>
<hr class="border-warning">

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-info">O'tilayotgan darslar</h6>
    </div>
    {% if lessons %}
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Mavzu</th>
                    <th>Boshlangan vaqti</th>
                    <th>Tugagan vaqti</th>
                    <th>Holati</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for i in lessons %}
                <tr>
                    <td>{{ i.id }}</td>
                    <td>{{ i.topic }}</td>
                    <td>{{ i.startedTime |date:'Y-m-d H:i' }}</td>
                    <td>{{ i.endedTime |date:'Y-m-d H:i' }}</td>
                    <td>{% if i.is_end %}Dars Tugagan{% else %}Dars Tugadi deb belgilanmagan{% endif %}</td>
                    <td>
                        <a href="{% url 'education_dars' group_id=group.id pk=i.id %}"
                           title="Davomatni ko'rish" class="btn btn-info btn-circle btn-sm">
                            <i class="fas fa-list-check"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                    <span class="step-links">
                        {% if lessons.has_previous %}
                            <a href="?page=1" class="btn btn-primary btn-sm">&laquo;first</a>
                            <a href="?page={{ lessons.previous_page_number }}" class="btn btn-primary btn-sm">prev</a>
                        {% endif %}

                        <span class="current">
                            Page {{ lessons.number }} of {{ lessons.paginator.num_pages }}.
                        </span>

                        {% if lessons.has_next %}
                            <a href="?page={{ lessons.next_page_number }}" class="btn btn-primary btn-sm">next</a>
                            <a href="?page={{ lessons.paginator.num_pages }}"
                               class="btn btn-primary btn-sm">last&raquo;</a>
                        {% endif %}
                    </span>
            </div>
        </div>
    </div>
    {% else %}
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-danger">Hozircha hech qanday dars o'tilmagan</h6>
    </div>
    {% endif %}
</div>


<div class="card mb-4 border-bottom-info">
    <div class="card-body">


        <a href="{% url 'mentor_admin-group-list' status=group.status %}"
           class="btn btn-primary bg-outline-primary btn-icon-split">
            <span class="icon text-white-50">
                        <i class="fa-solid fa-backward"></i>
            </span>
            <span class="text">Ortga</span>
        </a>

        <a href="{% url 'admin-group' %}" class="btn btn-info btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-home"></i>
                </span>
            <span class="text">Guruxlar Bo'limi</span>
        </a>
        {% if request.user.ut == 1 %}
        <a href="{% url 'admin-group-add-student' group_id=group.id status=99 %}"
           class="btn btn-success btn-icon-split">
                <span class="icon text-white-50">
                    <i class="fas fa-plus"></i>
                </span>
            <span class="text">Guruhga o'quvchi qo'shish</span>
        </a>
        {% endif %}

        {% if group.status == 2 and members %}
        <a href="{% url 'education_dars_add' status='form' group_id=group.id %}"
           class="btn btn-dark btn-icon-split">
            <span class="text">Dars boshlash</span>
        </a>
        {% endif %}
    </div>
</div>
{% elif position == 'gr' %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info">
            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>
                {% csrf_token %}
                <div class="card-body">
                    <h2 class="form-group text-center">Guruhlarga o'quvchi qo'shish bo'limi</h2>
                    {% if error == 'start_date' %}
                    <h3 class="form-group text-danger text-center">Vaqt Tanlanmagan</h3>

                    {% elif error == '__all__' %}
                    <h3 class="form-group text-danger text-center">Bu Kursga bu o'quvchi allaqachon qo'shilgan</h3>
                    {% endif %}
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.group %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.student %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.start_date %}
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            <button type="submit" class="btn btn-block btn-success">
                                <i class="fas fa-check"></i>O'zgarishlarni Saqlash
                            </button>
                        </div>
                        <a href="{% url 'admin-group-one' group_id=group.id %}">
                            <div class="card-action ml-1 right-align">
                                <button type="button" class="btn btn-block btn-secondary">
                                    <i class="fas fa-arrow-left"></i> Back to info
                                </button>
                            </div>
                        </a>

                        <a href="{% url 'home' %}">
                            <div class="card-action ml-1 right-align">
                                <button type="button" class="btn btn-block btn-info">
                                    <i class="fas fa-home"></i> Bosh menu
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% elif position == 'list' %}

<div class="row">

    {% if groups %}
    {% for i in groups %}

    <div class="col-lg-3 col-6">

        <div class="small-box {% if i.status == 1 %} bg-info {% elif i.status == 2 %} bg-success {% elif i.status == 2 %} bg-warning {% else %} bg-danger {% endif%}">
            <div class="inner">
                <p class="text-xl">{{ i.name }}</p>
                <p>{{ i.course }}</p>
                <p>Boshlangan vaqti: {{ i.start_date }}</p>
                <p>
                    <a href="{% url 'admin-group-edit' status=201 group_id=i.id %}" title="O'zgartirish"
                       class="btn btn-warning btn-circle btn-sm float-right">
                        <i class="fas fa-pen"></i>
                    </a>

                </p>
                <p>Kurs davomiyligi: {{ i.duration }}</p>
            </div>
            <div class="icon">
                <i class="fa-solid fa-user-group"></i>
            </div>
            <a {% if request.user.ut == 2 %} href="{% url 'mentor_admin-group-one' group_id=i.id %}"
               {% elif request.user.ut == 1 %} href="{% url 'admin-group-one' group_id=i.id %}"
               {% endif %} title="Group Info" class="small-box-footer">Batafsil <i
                    class="fas fa-arrow-circle-right"></i>
            </a>
        </div>
    </div>

    {% endfor %}
    {% else %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title"></h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <h2 class="text-info">
                            Hech qanday guruh topilmadi
                            </h2>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </div>
    <!-- /.container-fluid -->
    {% endif %}
</div>

 <a {% if request.user.ut == 2 %} href="{% url 'home'  %}"
           {% elif request.user.ut == 1 %} href="{% url 'admin-group' %}"
           {% endif %}
           class="btn btn-primary bg-outline-primary btn-icon-split mb-2">
            <span class="icon text-white-40">
                        <i class="fa-solid fa-backward"></i>
            </span>
            <span class="text">Ortga</span>
 </a>

<a href="{% url 'home' %}" class="btn btn-secondary bg-outline-dark btn-icon-split mb-2">
                    <span class="icon text-white-50">
                        <i class="fas fa-home"></i>
                    </span>
    <span class="text">Bosh Menu</span>
</a>


{% elif position == 'add' %}
<div class="row">
    <div class="col-md-12">
        <div class="card card-info">


            <form class="form" method="post" id="form-profession" enctype="multipart/form-data" novalidate>

                {% csrf_token %}

                <div class="card-body">
                    <h2 class="form-group text-center">Yangi Guruh qo'shish bo'limi</h2>
                    <h3 class="form-group text-center">Guruh qo'shish uchun barcha ma'lumotlarni to'ldiring</h3>
                    <div class="form-row">

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.name %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.course %}
                        </div>
                        <div class="form-group col-md-4">
                            {% bootstrap_field form.duration %}
                        </div>

                        <div class="form-group col-md-4">
                            {% bootstrap_field form.status %}
                        </div>


                    </div>
                    <div class="form-row">
                        <div class="card-action right-align">
                            <button type="submit" class="btn btn-block btn-success">
                                <i class="fas fa-check"></i>O'zgarishlarni Saqlash
                            </button>
                        </div>
                        <a href="{% url 'admin-group' %}">
                            <div class="card-action ml-1 right-align">
                                <button type="button" class="btn btn-block btn-secondary">
                                    <i class="fas fa-arrow-left"></i> Back to list
                                </button>
                            </div>
                        </a>
                        <a href="{% url 'home' %}">
                            <div class="card-action ml-1 right-align">
                                <button type="button" class="btn btn-block btn-info">
                                    <i class="fas fa-home"></i> Bosh menu
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% else %}

<div class="container-fluid">


    <div class="row">

        <div class="col-xl-6 col-md-6 mb-4  ">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">

                            <a {% if request.user.ut == 2 %} href="{% url 'mentor_admin-group-list' status=2 %}"
                            {% elif request.user.ut == 1%} href="{% url 'admin-group-list' status=2 %}" {% endif %}>

                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    Active Guruhlar
                                </div>
                            </a>

                            <div class="h5 mb-0 font-weight-bold text-gray-800">Umumiy
                                <mark>{{ gcnt.act }}</mark>
                                ta
                            </div>
                        </div>

                        <div class="col-auto">
                            <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-info shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                             <a {% if request.user.ut == 2 %} href="{% url 'mentor_admin-group-list' status=1 %}"
                            {% elif request.user.ut == 1%} href="{% url 'admin-group-list' status=1 %}" {% endif %}>
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1">
                                    Start Yaqinda
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Umumiy
                                <mark>{{ gcnt.start }}</mark>
                                ta
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-clipboard-list fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a {% if request.user.ut == 2 %} href="{% url 'mentor_admin-group-list' status=3 %}"
                            {% elif request.user.ut == 1%} href="{% url 'admin-group-list' status=3 %}" {% endif %}>
                                <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                    Tugagan Guruhlar
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Umumiy
                                <mark>{{ gcnt.end }}</mark>
                                ta
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <a href="{% url 'admin-interested' %}">
                                <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                    Yangi Yozilganlar
                                </div>
                            </a>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">Ko'rilmagan
                                <mark>{{ gcnt.icnt }}</mark>
                                ta
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-comments fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xl-6 col-md-6 mb-4">
            <a href="{% url 'admin-group-add-student' group_id=0 status=201 %}" class="btn btn-success btn-icon-split">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                <span class="text">Yangi guruh qo'shish</span>
            </a>
            <a href="{% url 'home' %}" class="btn btn-info btn-icon-split">
                   <span class="icon text-white-50">
                        <i class="fas fa-home"></i>
                    </span>
                <span class="text">Bosh Menu</span>
            </a>
        </div>

    </div>

</div>


{% endif %}


{% endblock %}